<!DOCTYPE html>
<html lang="nl">
<head>
    <title>Open-Source Happiness Packets</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body style="background-color: #3c6eb4;font-family: 'Open Sans', sans-serif;font-size: 16px;line-height: 1.8em;">
    <div style="text-align: center;padding: 20px;">
        <img src="cid:logo.png@happinesspackets.io" alt="Open-source Happiness Packets" style="max-width: 400px; padding: 30px">
    </div>
    <div style="margin: auto;background-color: white;max-width: 600px;padding: 30px">
        {% block content %}{% endblock %}
        <footer style="line-height: 1.2em;"><small>
            <hr>
            <p>
                Open-source happiness packets is an
                <a href="https://github.com/erikr/happinesspackets/" style="color: #3c6eb4;">open-source project</a>
                <br>
                Need help? Report an issue <a href="https://pagure.io/coc" style="color: #3c6eb4;">here</a>.
            </p>
            <p>
                Never want to receive email from us again?<br>
                <a href="{{ protocol }}://{{ domain }}{{ blacklist_url }}"  style="color: #3c6eb4;">Block {{ recipient }}</a>
            </p>
        </small></footer>
    </div>
    <br><br>
</body>
</html>
