{% extends 'base.html' %}

{% block extra_head %}<title>Block e-mail address</title>{% endblock %}

{% block content %}

    <div class="page-header">
        <h2>Block e-mail address</h2>
    </div>

    <p>
        If you don't want to receive e-mail messages to <em>{{ email }}</em> ever again, confirm by
        clicking the <b>Never email me again</b> button. If anyone tries to use this email address
        for a sender or recipient, we will silently discard the email.
    </p>

    <p>
        You might still receive Happiness Packets that were already sent before you blocked
        your email address.
    </p>

    <form method="post" >{% csrf_token %}
        <input type="submit" name="submit" value="Never email me again" class="btn btn-primary btn-lg centered" id="submit-id-submit">
    </form>

{% endblock content %}
