{% extends 'base.html' %}

{% block extra_head %}<title>Frequently Asked Questions</title>{% endblock %}

{% block content %}
<div id="faq">
    <div class="page-header">
        <h2>Frequently Asked Questions</h2>
    </div>

    <h3>Who made this and why?</h3>
    <p>
        The Open-Source Happiness Packets project was created by <a href="https://twitter.com/mxsash">Sasha Romijn</a> and
        <a href="https://twitter.com/thatdocslady">Mikey Ariel</a> in March 2016.
        The idea came about while we were building our
        <a href="https://2016.djangocon.eu/speakers/13">Healthy Minds in a Healthy Community</a> presentation
        for Djangocon Europe 2016. One of the issues we wanted to address in the presentation was that many
        people are unaware of how loved, appreciated, or admired they are by their peers, since our culture seems
        to discourage positive feedback and amplify negative feedback. With this project, we wanted to provide a platform
        for people to send positive feedback, thanks, or just a kind word to their peers, with hope to make it
        easier and more acceptable for people to spread happiness, gratitude and appreciation in open-source communities.
    </p>

    <h3>Isn't it weird to send these notes to other people?</h3>
    <p>
        Many of us come from a culture where it's sometimes more acceptable to complain about the negative than to
        acknowledge the positive things. Therefore, it might feel a little awkward to communicate positive feedback
        directly to others. However, in our personal experience, once you take that first step, any awkwardness
        is quickly replaced by feeling good about helping someone else feel good.
    </p>

    <h3>Can I send anything I want?</h3>
    <p>
        We don't screen the content of messages. However, all messages must meet the
        <a href="https://docs.fedoraproject.org/en-US/project/code-of-conduct/">Fedora Code of Conduct</a>.
        Notably, harassment, insults and other exclusionary behavior are never acceptable.
    </p>
    <p>
        Violations of this can result in blocking you from using the service. Your message might also be shared with
        the Fedora Code of Conduct committee, who reserve the right to take further action of their own. If you're a member
        of another open-source community, your message might be shared with any code of conduct committee or similar group
        from that community.
    </p>

    <h3>Should I reply when I get a Happiness Packet from someone?</h3>
    <p>
        You are under no obligation to respond to the sender of the Happiness Packet. But if you are inspired by what
        you received, you are welcome to respond or send your own Happiness Packet. We always encourage sending more
        messages, but only if they are sincere.
    </p>
    <p>
        Note: if the sender selected to remain anonymous, you cannot reply to their message.
    </p>

    <h3>Are my Happiness Packets private?</h3>
    <p>
        By default, we only send your message with the recipient. They will get an e-mail with your message
        and can view it online. We only share your name and email address with the recipient if you choose this option.
        We may analyse messages and their metadata for statistical analysis.
    </p>
    <p>
        In case of suspected abuse or Code of Conduct violations, the service administrators might view and read
        your message to determine further processing.
    </p>

    <h3>What happens if I choose to display my message publicly?</h3>
    <p>
        If both the sender and the recipient of the message agree to publish the message on the website,
        the message will be displayed in the <a href="{% url 'messaging:archive' %}">Happiness Archive</a>.
        We encourage you to share your messages with the community,
        but the choice is yours and you are not obligated to choose this option if you do not feel comfortable with it.
        You can also choose to publish the message but keep the sender and recipient names private.
    </p>
    <p>
        Note: we cannot modify the content of the message after it is sent, so if the message includes personally-identifying
        information or references to third parties, they will be published even if you choose to hide the sender and
        recipient names.
    </p>

    <h3>I received an abusive message, what should I do?</h3>
    <p>
        Please see the <a href="https://docs.fedoraproject.org/en-US/project/code-of-conduct/">Fedora Code of Conduct</a> 
        to find the steps to report it to the Project.
    </p>

    <h3>I don't want to receive any email from you</h3>
    <p>
        Every email we sent includes a link to stop receiving all future e-mail messages. If you follow the link
        and confirm, your email address will not be able to be used anywhere on the site.
        Note: if you select to block your email address, you will not be able to send Happiness Packets yourself.
    </p>
</div>
{% endblock content %}
