{% extends 'base.html' %}

{% block extra_head %}<title>Get inspired</title>{% endblock %}

{% block content %}

    <div class="page-header">
        <h2>Get inspired!</h2>
    </div>

    <em style="font-size: 1.5em; line-height: 1.8em;">
        Want to send some happiness but having a writer's block? Check out some of these sample messages
        for inspiration. These are not actual messages that were sent with the system, just some ideas that
        you can use. Our <a href="{% url 'messaging:archive' %}">Happiness Archive</a> contains more messages from
        others that may help inspire you.
    </em>

    <h4>This message was sent to the Django: Under the Hood team</h4>
    <blockquote>
        <p>
            I feel totally overwhelmed, surprised and very, very grateful. Thank you for caring. You are unbelievable.
            You are a bunch of craziest, the most positive people I've met. You inspire me to give back to community
            even more. I wish I could express properly what I'm feeling right now...
        </p>

        <p>
            May it always rain stroopwafels on you. But not all the time, that could be inconvenient. Only when you
            feel like having stroopwafels. Or someone that you like feels like having stroopwafels. Or you just want
            to make it rain stroopwafels.
        </p>

        <p>
            Sending hugs, you crazy, amazing people!
        </p>
    </blockquote>

    <h4>Another contributed message</h4>
    <blockquote>
        Thank you for writing such a great article. I’ve seen some of your other writing and ideas and you seem
        to capture difficult concepts very well. I’m really happy that you’re part of our community, and aspire
        to be as great in some of these things as you are some day :)
    </blockquote>


{% endblock content %}
