{% extends 'base.html' %}

{% block extra_head %}<title>Fedora Happiness Packets</title>{% endblock %}

{% block content %}

    <div class="page-header">
        <h2>What are Fedora Happiness Packets?</h2>
    </div>

    <p class="lead">
        People are generally much more loved than they think they are. Especially when things don't go according to
        plan, other people almost never think as harshly of you as you might think of yourself. It's easy for us to
        complain when bad things happen, and yet we're often fairly silent when things are good. Open-source communities
        are no different, especially when our main communication channels are textual and virtual.
    </p>

    <p>
        The feeling that you made a difference, that your work matters and has value, and that the people
        you work with are happy to work with you, is an awesome feeling. With Fedora Happiness Packets, we're
        trying to spread that feeling.
    </p>

    <p class="text-center">
        <a class="btn btn-primary btn-lg btn-responsive" href="{% url 'messaging:send' %}" role="button">Send some happiness now! <img class="emoji" src="static/images/emoji/loveletter.png" alt="💌" title="Love letter" aria-label="Emoji: Love letter"></a>
    </p>

    <h2>How does it work?</h2>
    <p>
        Openly expressing appreciation, gratitude, or happiness to other people can be difficult. This is especially
        true when you don't know them very well. Many of us come from cultures in which people are not open by default
        about such feelings, and naturally feel uncomfortable or even creepy to share them.
    </p>
    <p>
        Fedora Happiness Packets is a very simple platform to anonymously reach out to the people that you
        appreciate or to whom you are thankful in your open-source community. Your message can be sent anonymously
        if you feel uncomfortable to share your name with the recipient. Of course, we encourage you to share your name,
        but it's completely optional!
    </p>

    <h3>Happiness Archive</h3>
    <p>
        If both the sender and the recipient agree, we can
        <a href="{% url 'messaging:archive' %}">publish the Happiness Packet</a> on the website.
        We hope to build an archive of open-source happiness that communities can draw inspiration from.
    </p>
    <div class="total_happiness_sent">
        {% if packets_sent == 0 %}
        <a class="total-packets">Total Happiness Spread: <b>{{ packets_sent }} 💔</b></a>
        {% else %}
        <a class="total-packets">Total Happiness Spread: <b>{{ packets_sent }} 🎉</b></a>
        {% endif %}
    </div>
    <p>
        As an example, here are two random messages from our archive:
    </p>

    {% include 'messaging/_message_list.html' %}
    
{% endblock content %}
